Notebook is copyright &copy; of <a href="https://ajaytech.co"> Ajay Tech </a>

In [2]:
list(reversed(range(1,10,2)))

[9, 7, 5, 3, 1]

In [7]:
num = [1,2,3,4,5]

for i in num : 
    print ( num.pop() )

5
4
3

In [15]:
num = [1,2,3,4,5]

sum = 0
for i in num : 
    num.remove(i)
    sum = sum + i
    
print ( sum )

9

In [18]:
num = [1,2,3,4,5]

for i in range(len(num)) : 
    num.insert(i, num[i])
    
print(len(num))

10

In [25]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]

c = a

c[len(c):] = b

print ( a == c or b == c or a==b )

True

In [35]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

c = []
d = []

c[len(c):] = b
d.extend(b)

if c == d : 
    print ( "Equal")
else :
    print ( "unequal")

Equal

In [40]:
a=[1,2,3,4]
print(a[2:0:-1])

[3, 2]

In [18]:
a = [1,2,3,4,5]
b = a.copy()

b.clear()

print ( a )

[1, 2, 3, 4, 5]

In [14]:
b.count(1)

1

In [28]:
data = [[1,2,3], [4,5,6], [7,8,9]]


for row in data : 
    if sum(row) >= 15 : 
        print ( "greater" )

greater
greater

In [32]:
arr = [[1,  2,  3,  4],
       [4,  5,  6,  7],
       [8,  9,  10, 11],
       [12, 13, 14, 15]]

for i in reversed([3,2,1,0]) :
    print ( arr[i].pop(i))

1
5
10
15

In [33]:
def f(i, values = []):
    values.append(i)
    print (values)
    return values
f(1)
f(2)
f(3)

[1]
[1, 2]
[1, 2, 3]

[1, 2, 3]

In [42]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }
 
print ( grades[0])

KeyError: 0

In [47]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }
 
for key in grades.items() : 
    print (key)

('Math', 4)
('Physics', 3.8)
('Chemistry', 3.6)
('English', 3.7)

In [53]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }

list(grades.keys())[2][2]

'e'

In [114]:
# dictionary of student id 
# and grade in a particular subject
grades = { 103    : 4,
           101    : 3.8,
           102    : 3.6,
           104    : 3.7}

In [79]:
grades = dict( [ (103,4),
                 (101,3.8),
                 (102,3.6),
                 (104,3.7) ] )

In [83]:
grades = dict( 103 = 4,
               101 = 3.8,
               102 = 3.6,
               104 = 3.7 )

SyntaxError: keyword can't be an expression (<ipython-input-83-9a43e861110d>, line 1)

In [80]:
grades

{103: 4, 101: 3.8, 102: 3.6, 104: 3.7}

In [85]:
grades = dict( (103,4),
               (101,3.8),
               (102,3.6),
               (104,3.7) )

TypeError: dict expected at most 1 arguments, got 4

In [82]:
grades

{'103': 4, '101': 3.8, '102': 3.6, '104': 3.7}

In [84]:
grades = dict( "103" = 4,
               "101" = 3.8,
               "102" = 3.6,
               "104" = 3.7 )

SyntaxError: keyword can't be an expression (<ipython-input-84-720a6c8dd325>, line 1)

In [88]:
grades

{103: 4, 101: 3.8, 102: 3.6, 104: 3.7}

In [89]:
del grades[103]

In [90]:
grades

{101: 3.8, 102: 3.6, 104: 3.7}

In [96]:
grades.pop(103)

KeyError: 103

In [95]:
grades

{101: 3.8, 102: 3.6, 104: 3.7}

In [98]:
for key in grades :
    if key == 103 :
        del grades[103]

RuntimeError: dictionary changed size during iteration

In [99]:
grades

{101: 3.8, 102: 3.6, 104: 3.7}

In [100]:
    grades[101:103]

TypeError: unhashable type: 'slice'

In [105]:
grades

[101, 102, 103]

In [116]:
grades = [101,102,103]
[grades[key] for key in grades.keys()]

AttributeError: 'list' object has no attribute 'keys'

In [115]:
type(grades)

dict

In [117]:
grades.keys()

AttributeError: 'list' object has no attribute 'keys'

In [118]:
science_grades = { "Math"        : 4,
                   "Physics"     : 3.8,
                   "Chemistry"   : 3.6}

arts_grades =     {"Math"        : 3.9, 
                   "English"     : 3.2,
                   "Art"         : 2.9,
                   "Drama"       : 3.0 }

science_grades.update(arts_grades)

print ( science_grades["Math"])

3.9

In [141]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }

grades_1 = grades
grades_2 = grades.copy()
grades_3 = dict(grades)

grade_values = [1,2,3,4]

for grade in grades.keys() :

    grades_1[grade] = grade_values[0]
    grades_2[grade] = grade_values[1]
    grades_3[grade] = grade_values[2]
    
print ( grades["Math"] + grades_1["Math"] + 
        grades_2["Math"] + grades_3["Math"] )

7

In [138]:
grades_3

{'Math': 3, 'Physics': 3, 'Chemistry': 3, 'English': 3}

In [129]:
grades_2

{'Math': 2, 'Physics': 2, 'Chemistry': 2, 'English': 2}

In [144]:
grades.pop("Math")

1

In [145]:
grades

{'Physics': 1, 'Chemistry': 1, 'English': 1}

In [148]:
print ( grades.pop("Math",None) )

None

In [155]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }

grades.pop("Science", None)

In [153]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }

grades.pop("Math")
 grades.pop("Math", "")

''

In [157]:
del grades["Math"]

KeyError: 'Math'

In [159]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }

grades.clear()
print(grades)

{}

In [160]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }

del (grades)
print(grades)

NameError: name 'grades' is not defined

In [ ]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }

del (grades)
print(grades)

In [162]:
grades = { "Math"        : 4,
           "Physics"     : 3.8,
           "Chemistry"   : 3.6,
           "English"     : 3.7 }

for key in grades.keys() :
    grades.pop(key)
print(grades)

RuntimeError: dictionary changed size during iteration

In [170]:
dict([(1,2),(3,4)])

{1: 2, 3: 4}

In [189]:
a = 0,1,2,3
b = (0,1,2,3)

if a[0] == b[0] and a.count(1) == b.count(1) and not bool(a[0]) and bool(b[1]):
    print("Equal")
else : 
    print("Unequal")

Equal

In [177]:
a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [173]:
a = (10,5)

In [174]:
a

(10, 5)

In [185]:
bool(1)

True

In [209]:
import copy 

a = [1,[2,3,[4,5,6]]]
b = a.copy()
c = copy.deepcopy(a)

b[1][0] = 12
c[1][1] = 13

if a[1][0] == b[1][0] and a[1][1] == c[1][1] :
    print ("Equal")
else : 
    print ( "Unequal")

Unequal

In [208]:
a

[1, [12, 3, [4, 5, 6]]]

In [193]:
b

[1, [2, 3, [4, 5, 6]]]

In [196]:
b[1][0] = 12

In [197]:
b

[11, [12, 3, [4, 5, 6]]]

In [214]:
a = [1,2,3,4,5]

i = 1
j = 2

a[i] = a[j + 1] + 1
a[j] = a[i + 2] + 2

print ( a[1] == a[4] and sum(a) == 20 )

False

In [212]:
a

[1, 5, 6, 4, 5]

In [215]:

    print ( i)

TypeError: 'int' object is not iterable

In [216]:
"Hello" * "World"

TypeError: can't multiply sequence by non-int of type 'str'

In [234]:
a = "hello"
if a[-5:-1] == a[:4] == a[0:3] : 
    print ("Equal") 
else : 
    print ("Unequal")

Unequal

In [233]:
a[0:4]

'hell'

In [244]:
string = "She sells sea sells"
count  = string.find("ll",10) - string.find("ll") + string.find("se",10,15) - string.find("se")
print ( count )

16

In [243]:
string.find("ll",10) - string.find("ll") + string.find("se",10,15) - string.find("se")

16

In [242]:
string.find("se",10,15)

10

In [4]:
sum = 0.5
for i in range(5) :
    if i % 2 == 0 :
        sum = int ( sum + i )
        print ( "even ", sum)
    else :
        sum = sum + i
        print ( "odd", sum)
        
print ( sum)

even  0
odd 1
even  3
odd 6
even  10
10

In [5]:
0 1 2 3 4

SyntaxError: invalid syntax (<ipython-input-5-a83e17142644>, line 1)

In [12]:
string = "Hello"
new_string = string
for i in range(5) :
    if i % 2 == 0 : 
        new_string += string[i] 
    else : 
        new_string += string[-i] 

print ( new_string )

HelloHollo

In [13]:
new_string

'HelloHollo'

In [9]:
string

'Hello World'

In [14]:
string = "Hello"

In [15]:
string **2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [24]:
person = ("Ajay", [180, 170], 40)

try :
    person[0]    = "Tech"
    person[1][0] = 185
except Exception as e: 
    print (e)
    
print ( person[1][0])

'tuple' object does not support item assignment

In [25]:
person

('Ajay', [180, 170], 40)

In [20]:
person

('Ajay', [185, 170], 40)

In [51]:
name_1 = ("Ajay", [180,170], 40)
name_2 = name_1

a = id(name_1) == id(name_2)

name_2[1][0] = 185

b = id(name_1) == id(name_2)

print ( a == b )

True

In [45]:
name_1

('Ajay', [185, 170], 40)

In [50]:
a = (1,2,3)
a = a + (4)

TypeError: can only concatenate tuple (not "int") to tuple

In [52]:
t = (1, 2, 3, 4, 5)
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [53]:
for i in range(1,100,5):
    print ( i )

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [54]:
i = 0 
while i < 100 :
    print ( i )
    i = i + 5

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [62]:
def remove(indices, name) :
    new_name = ""
    for i in range(len(name)) :
        if i not in indices :
            new_name = new_name + name[i]
    return new_name


print ( remove([1,3,5], "Ajay Tech" ) )

Aa ech

In [65]:
def sum_numbers(*numbers) :
    print (type(numbers))
    
    # TODO : code to calculate the sum of numbers
    return None

sum_numbers(1,2,3,4,5)

<class 'tuple'>

15

In [67]:
age = 40

def age_reduce (age) :
    age = 30
    
age_reduce(age)
print(age)

40

In [69]:
tuple([1])

(1,)

In [72]:
numbers = tuple("12345")

print ( numbers)

('1', '2', '3', '4', '5')

In [78]:
numbers = 1,"2",3,4,5
print ( type(numbers) )

<class 'tuple'>

In [79]:
numbers

(1, '2', 3, 4, 5)

In [87]:
names_1 = ["Ajay","Siva","Krishna"]
names_2 = ["Sanjay", "Krishna", "Ajay"]
names_3 = ["Ajay", "Megha"]

common = set(names_1).intersection(set(names_2)).intersection(set(names_3))

print ( common)

{'Ajay'}

In [84]:
common_names

['Ajay', 'Ajay', 'Ajay']

In [85]:
all_names

['Ajay', 'Siva', 'Krishna', 'Sanjay', 'Krishna', 'Ajay', 'Ajay', 'Megha']

In [88]:
bool(None)

False

In [91]:
bool([1])

True

In [95]:
bool([0]) and bool((0,)) and bool("False")

True

In [104]:
name_1 = None
name_2 = ""
name_3 = 0
name_4 = False

var_1 = name_1 == name_2 and True
var_2 = name_1 is name_3 or True
var_3 = name_1 == name_4 or True

var_1 or var_2 and var_3

True

In [105]:
" " + None

TypeError: can only concatenate str (not "NoneType") to str